<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{{title}}}</title>
		<meta name="description" content="{{description}}">
		<style>

		</style>
		<link rel="preload" as="style" href="/css/main.css" onload="this.onload=null;this.rel='stylesheet'">
		<link rel="stylesheet" media="print" href="/css/print.css">
</head>
<body>
	<header>
		<h1>Evan Brass</h1>
		<nav>
			<a href="/">Home</a>
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
		</nav>
	</header>
	<main>
		<article itemscope itemtype="https://schema.org/BlogPosting">
			<header>
				<!-- TODO: Social Media image
				<img itemprop="image" src="" alt="">
				-->
				<h1 itemprop="headline">{{{title}}}</h1>
				<span itemprop="author">Evan Brass</span>
				<time itemprop="datePublished" datetime="{{published}}">{{published}}</time>
				<ul itemprop="keywords">{{#each tags}}<li>{{name}}</li>{{/each}}
				</ul>
				<nav is="blog-contents">
					<!-- TODO -->
				</nav>
			</header>
			<div itemprop="articleBody">
				{{{content}}}
			</div>
		</article>
	</main>
	<footer>
		<a href="https://twitter.com/evan_brass">Twitter</a> and <a href="https://github.com/evan-brass">GitHub</a>
	</footer>
	<noscript>
		<link rel="stylesheet" href="/css/main.css">
	</noscript>
</body>
</html>